In [129]:
import pandas as pd
from pathlib import Path

school_info_to_upload = Path("../Starter_Code/PyCitySchools/Resources/schools_complete.csv")
student_info_to_upload = Path("../Starter_Code/PyCitySchools/Resources/students_complete.csv")

school_info = pd.read_csv(school_info_to_upload)
student_info = pd.read_csv(student_info_to_upload)

school_info_complete = pd.merge(student_info, school_info, how="left", on=["school_name", "school_name"])
school_info_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [130]:
school_tally = len(school_info_complete["school_name"].unique())
school_tally

15

In [131]:
student_tally = school_info_complete["Student ID"].count()
student_tally

39170

In [133]:
complete_budget = school_info["budget"].sum()
complete_budget

24649428

In [134]:
average_score_in_math = school_info_complete["math_score"].mean()
average_score_in_math

78.98537145774827

In [135]:
average_score_in_reading = school_info_complete["reading_score"].mean()
average_score_in_reading

81.87784018381414

In [136]:
passing_math_tally = school_info_complete[(school_info_complete["math_score"] >= 70)].count()["student_name"]
passing_students_math = passing_math_tally / float(student_tally) * 100
passing_students_math

74.9808526933878

In [137]:
passing_reading_tally = school_info_complete[(school_info_complete["reading_score"] >= 70)].count()["student_name"]
passing_students_reading = passing_reading_tally / float(student_tally) * 100
passing_students_reading

85.80546336482001

In [138]:
passing_math_reading_tally = school_info_complete[
    (school_info_complete["math_score"] >= 70) & (school_info_complete["reading_score"] >= 70)
].count()["student_name"]
overall_rate_of_passing = passing_math_reading_tally /  float(student_tally) * 100
overall_rate_of_passing

65.17232575950983

In [139]:
district_summary = pd.DataFrame({

    "Total number of unique schools":[school_tally],
    "Total students":[student_tally],
    "Total budget":[complete_budget],
    "Average math score":[average_score_in_math],
    "Average reading score":[average_score_in_reading],
    "% passing math (the percentage of students who passed math)":[passing_students_math],
    "% passing reading (the percentage of students who passed reading)":[passing_students_reading]})



district_summary["Total students"] = district_summary["Total students"].map("{:,}".format)
district_summary["Total budget"] = district_summary["Total budget"].map("${:,.2f}".format)

district_summary

,Total number of unique schools,Total students,Total budget,Average math score,Average reading score,% passing math (the percentage of students who passed math),% passing reading (the percentage of students who passed reading)
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463

In [140]:
district_summary = pd.DataFrame({

    "Total number of unique schools":[school_tally],
    "Total students":[student_tally],
    "Total budget":[complete_budget],
    "Average math score":[average_score_in_math],
    "Average reading score":[average_score_in_reading],
    "% passing math (the percentage of students who passed math)":[passing_students_math],
    "% passing reading (the percentage of students who passed reading)":[passing_students_reading],
    "% Overall Passing": [overall_rate_of_passing]})



district_summary["Total students"] = district_summary["Total students"].map("{:,}".format)
district_summary["Total budget"] = district_summary["Total budget"].map("${:,.2f}".format)

# Format the columns.
district_summary["Average math score"] = district_summary["Average math score"].map("{:.1f}".format)
district_summary["Average reading score"] = district_summary["Average reading score"].map("{:.1f}".format)
district_summary["% passing math (the percentage of students who passed math)"] = district_summary["% passing math (the percentage of students who passed math)"].map("{:.1f}".format)
district_summary["% passing reading (the percentage of students who passed reading)"] = district_summary["% passing reading (the percentage of students who passed reading)"].map("{:.1f}".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:.1f}".format)

district_summary

,Total number of unique schools,Total students,Total budget,Average math score,Average reading score,% passing math (the percentage of students who passed math),% passing reading (the percentage of students who passed reading),% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75.0,85.8,65.2

In [141]:
school_types = school_info.set_index('type')
school_types

          School ID            school_name  size   budget
type
District          0      Huang High School  2917  1910635
District          1   Figueroa High School  2949  1884411
Charter           2    Shelton High School  1761  1056600
District          3  Hernandez High School  4635  3022020
Charter           4    Griffin High School  1468   917500
Charter           5     Wilson High School  2283  1319574
Charter           6    Cabrera High School  1858  1081356
District          7     Bailey High School  4976  3124928
Charter           8     Holden High School   427   248087
Charter           9       Pena High School   962   585858
Charter          10     Wright High School  1800  1049400
District         11  Rodriguez High School  3999  2547363
District         12    Johnson High School  4761  3094650
District         13       Ford High School  2739  1763916
Charter          14     Thomas High School  1635  1043130

In [142]:
school_types = school_info['type']
school_types

0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object

In [143]:
per_school_counts = student_info['Student ID'].count()
per_school_counts

39170

In [183]:
per_school_budget = school_info.set_index('school_name')['budget']
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [210]:
per_school_budget = school_info_complete(["school_name"],["budget"])
per_school_budget

TypeError: 'DataFrame' object is not callable

In [154]:
per_school_capita = school_info.set_index('school_name')['budget']/school_info.set_index('school_name')['size']
per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [155]:
per_school_math = school_info_complete['math_score'].mean()
per_school_math

78.98537145774827

In [156]:
per_school_reading = school_info_complete['reading_score'].mean()
per_school_reading

81.87784018381414

In [157]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_info_complete[school_info_complete['math_score'] >= 70].groupby('school_name')['student_name'].count()/per_school_math
students_passing_math

school_name
Bailey High School       42.007779
Cabrera High School      22.143341
Figueroa High School     24.637474
Ford High School         23.687931
Griffin High School      17.357645
Hernandez High School    39.171810
Holden High School        5.000926
Huang High School        24.257656
Johnson High School      39.817500
Pena High School         11.521121
Rodriguez High School    33.601159
Shelton High School      20.927926
Thomas High School       19.307373
Wilson High School       27.131606
Wright High School       21.269761
Name: student_name, dtype: float64

In [158]:
school_students_passing_math = student_info[student_info['math_score'] >= 70].groupby('school_name')['Student ID'].count()/per_school_math
school_students_passing_math

school_name
Bailey High School       42.007779
Cabrera High School      22.143341
Figueroa High School     24.637474
Ford High School         23.687931
Griffin High School      17.357645
Hernandez High School    39.171810
Holden High School        5.000926
Huang High School        24.257656
Johnson High School      39.817500
Pena High School         11.521121
Rodriguez High School    33.601159
Shelton High School      20.927926
Thomas High School       19.307373
Wilson High School       27.131606
Wright High School       21.269761
Name: Student ID, dtype: float64

In [159]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_info_complete[school_info_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/per_school_math
students_passing_reading
school_students_passing_reading = school_info_complete[school_info_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/per_school_math
school_students_passing_reading

school_name
Bailey High School       51.617153
Cabrera High School      22.827012
Figueroa High School     30.144822
Ford High School         27.498763
Griffin High School      18.053976
Hernandez High School    47.451825
Holden High School        5.203495
Huang High School        30.030877
Johnson High School      48.958433
Pena High School         11.685708
Rodriguez High School    40.615116
Shelton High School      21.371046
Thomas High School       20.142970
Wilson High School       27.903901
Wright High School       22.016735
Name: Student ID, dtype: float64

In [160]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_info_complete[
    (school_info_complete["reading_score"] >= 70) & (school_info_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [161]:
# Use the provided code to calculate the passing rates
school_students_passing_math = school_students_passing_math / per_school_counts * 100
school_students_passing_reading = school_students_passing_reading / per_school_counts * 100

overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
overall_passing_rate

school_name
Bailey High School       6.941537
Cabrera High School      4.332397
Figueroa High School     4.005617
Ford High School         3.796273
Griffin High School      3.395456
Hernandez High School    6.333929
Holden High School       0.972683
Huang High School        3.985193
Johnson High School      6.507531
Pena High School         2.223641
Rodriguez High School    5.409752
Shelton High School      4.041358
Thomas High School       3.796273
Wilson High School       5.279551
Wright High School       4.151136
dtype: float64

In [202]:
# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

NameError: name 'per_passing_math_reading' is not defined

In [203]:
# Calculate the percentage of passing math and reading scores per school.
overall_passing_rate = overall_passing_rate / per_school_counts * 100
overall_passing_rate

school_name
Bailey High School       0.000045
Cabrera High School      0.000028
Figueroa High School     0.000026
Ford High School         0.000025
Griffin High School      0.000022
Hernandez High School    0.000041
Holden High School       0.000006
Huang High School        0.000026
Johnson High School      0.000042
Pena High School         0.000014
Rodriguez High School    0.000035
Shelton High School      0.000026
Thomas High School       0.000025
Wilson High School       0.000034
Wright High School       0.000027
dtype: float64

In [199]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = 

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

SyntaxError: invalid syntax (2536131374.py, line 2)

In [200]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
   
    "School Type": [school_types],
    "Total Students": [per_school_counts],
    "Total School Budget": [per_school_budget],
    "Per Student Budget": [per_school_capita],
    "Average Math Score": [per_school_math],
    "Average Reading Score": [per_school_reading],
    "% Passing Math": [school_students_passing_math],
    "% Passing Reading": [school_students_passing_reading],
    "% Overall Passing": [overall_passing_rate]})

per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,0 District 1 District 2 Charter 3...,39170,school_name Huang High School 1910635 F...,school_name Huang High School 655.0 Fig...,78.985371,81.87784,school_name Bailey High School 0.107245 ...,school_name Bailey High School 0.131777 ...,school_name Bailey High School 0.017722 ...

In [201]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("{:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df

TypeError: unsupported format string passed to Series.__format__